html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.app-background {
  background: #071033;
  position: fixed;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.app-background::after {
  position: absolute;
  content: "";
  top: 0;
  right: -24px;
  bottom: -24px;
  left: -24px;
  margin: auto;
  filter: blur(24px);
  opacity: 30%;
  background-image:
    linear-gradient(to bottom, #071033, 70%, transparent),
    linear-gradient(130deg, #8B4599 20%, #6A87C5, #71bd97, #4A5894, #6696C5, #37788D);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
